.lists {
  background-color: #fff;
  border-radius: 8px;
  .lists__inner {
    padding: 0 16px;
    .list__button {
      text-align-last: left;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      padding: 0;
      margin-bottom: 16px;
      background-color: #fff;
      color: rgba(0, 0, 0, 0.2);
      border: none;
      cursor: pointer;
      border-radius: 8px;
      outline: none;
    }
    .list-items {
      position: relative;
      line-height: 0;
    }
  }
}
