.lists-form__item {
  position: relative;
  margin-top: 16px;
  .list-form__inner {
    background-color: #fff;
    border-radius: 8px;
    .lists-form__input {
      margin: 0;
      width: 70%;
      height: 52px;
      border: none;
      font-size: 16px;
      font-weight: 600;
      padding-left: 16px;
      outline: none;
      border-radius: 8px;
    }
    .lists-form__button {
      font-size: 16px;
      font-weight: 600;
      position: absolute;
      right: 16px;
      top: 16px;
      background-color: #fff;
      border: none;
      color: rgba(0, 0, 0, 0.2);
    }

    .lists-form__button_active {
      right: 6px;
      top: 6px;
      padding: 10px 8px;
      background-color: #80c890;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;
    }
  }
}
