.list__title {
  margin: 0;
  margin-top: 14px;
  background-color: #ff6a55;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 16px;
  color: #ffffff;
}
.list__title_hidden {
  background-color: #fff;
  color: #000000;
}
.lists__count {
  color: rgba(255, 255, 255, 0.8);
}

.lists__count_hidden {
  color: rgba(0, 0, 0, 0.4);
}
